*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: rgba(122, 146, 154, 0.484);
}
.logo-contenedor{
    text-align: center;
}

.logo-messi{
    width: 85px;
    height: 70px;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ul-li{
    list-style: none;
    padding: 5px;
}

.a{
    text-decoration: none;
    font-size: 20px;
    /* text-align: center; */
}

/* fin header */

/* main */
#main{
    background: url(../img/fondo.jpg)fixed 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    background-color: rgba(238, 238, 241, 0.2);
}

/* primer seccion */
.first-h1{
    color: wheat;
    font-size: 60px;
    text-shadow: 2px 2px lightyellow;
                /* 2px 2px lightgoldenrodyellow; */
}

.section-p{
    color: rgb(8, 8, 8);
    font-size: 30px;
    background-color: antiquewhite ;
    opacity: 0.6;
}

.divSection{
    height: 100px;
}
/* ---------------------------------------------------- */
/* aside */
/* .aside-1{
    display: inline-block;
    margin: 10px 0px 0px 0px;
    border:2px solid lightgoldenrodyellow;
}

.imgAside{
    width: 70px;
    opacity: 0.8;
    display: block;
    padding: 5px;
} */
/* -------------------------------------------------- */

/* segunda seccion */
.section-2{
    margin: 50px 0px 0px 0px;
    border: solid 2px red;
    text-align: center;
}

.section2-h3{
    color: rgb(179, 245, 245);
    font-size: 30px;
    text-shadow: 1px 1px rgb(128, 174, 193);
}

.divSection2{
    border: solid green 2px;
    width: 450px;
    height: 314px;
    display: flex;
    flex-wrap: wrap;

}

.div-2-section2{
    border: solid 2px blue;
    width: 910px;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}



/* imagenes */
.sectionImagenes{
    background: url(../img/fondo2.jpg) 0%;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 10px 0px 0px 0px; */
}
.imagenes__conteiner-img{
    width: 100px;
    border: 2px solid lightgoldenrodyellow;
}