*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* header */
header{
    background-color: rgba(122, 146, 154, 0.484);
}
.logo-contenedor{
    position: relative;
}
.logo-messi{
    width: 15%;
    border: solid 1px black;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ul-li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: lightgoldenrodyellow;
    padding-right: 10px;
}
.nav-ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
/* fin header */
/* main */
#main{
    background: url(../img/fondo.jpg)fixed 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    background-color: rgba(238, 238, 241, 0.2);
}
/* fin de main background */
/* primer seccion */
h1{
    color: wheat;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 2px 2px lightyellow;
                /* 2px 2px lightgoldenrodyellow; */
}
.section-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.barcelona{
    color: brown;
    font-weight: 100;
    font-size: 1.4rem;
    cursor: pointer;
}
.section__p{
    color: rgb(8, 8, 8);
    font-size: 30px;
    background-color: antiquewhite ;
    opacity: 0.6;
}
/* fin primer seccion */
/* segunda seccion */
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}
.section__h3{
    color: rgb(179, 245, 245);
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px rgb(128, 174, 193);
}
.divSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.div-2-section2{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* fin segunda seccion */
/* inicio de galeria de imagenes */
.galeriaImg{
    background: url(../img/fondo2.jpg) 0%;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
}
.articleImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
    flex-wrap: wrap;
}
.imgConteiner{
    display: grid;
    gap: 50px;
    grid-template-columns: 200px 200px 200px;
}
.img-golden{
    width: 90%;
    border: solid 2px lightyellow;
    opacity: 0.9;
}
.img__h2{
    font-size: 1.8rem;
    font-weight: 900;
    color: #4c0fbd;
}








/* ---------------------------------------------------- */
/* aside */
/* .aside-1{
    display: inline-block;
    margin: 10px 0px 0px 0px;
    border:2px solid lightgoldenrodyellow;
}

.imgAside{
    width: 70px;
    opacity: 0.8;
    display: block;
    padding: 5px;
} */
/* -------------------------------------------------- */
/* imagenes */
.firstArticle{
    display: flex;
    grid-template-columns: 200px 200px 200px;/*esto cuando aprendas bien grid*/
}

.sectionImagenes{
    background: url(../img/fondo2.jpg) 0%;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    /* margin: 10px 0px 0px 0px; */
}

.imagenes__conteiner-img{
    width: 70%;
    border: 2px solid lightgoldenrodyellow;
}

@media (max-width:800px) {
    .logo-contenedor{
        text-align: start;
    }
    .nav-ul{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-items: start;
    }
}