*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poppins:ital,wght@1,700&display=swap');
:root{
    --blue:    #0d6efd;
    --red:     #dc3545;
    --yellow:  #ffc107;
    --cyan:    #0dcaf0;
    --pink:    #b8608c;
    --color-navBar: lightgoldenrodyellow;
    --bgr-navBar:rgba(20, 25, 45);
    --bg-alpha-color: rgba(245, 245, 245, 0.75); 
    --second-alpha-color: rgba(20, 25, 45, 0.689);
    --white:   #fff;
}
/*leo messi titulo */
 @-webkit-keyframes move-letter {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes move-letter {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
/* navBar */
.img-logo{
    width: 10rem;
}
.navbar{
    background-color: var(--bgr-navBar);
}
.nav{
    color: var(--color-navBar);
    text-decoration: none;
}
.nav:hover{
    text-decoration: underline;
    transition: 0.2s;
}
.navbar-toggler-icon{
    background-color: var(--white);
}
/* main -biografia */
.move-letter {
	-webkit-animation: move-letter 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: move-letter 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    color: var(--yellow);
    text-shadow: 3px 3px var(--color-navBar);
}
.p__section{
    color: var(--white);
}
.h2__section{
    color: var(--cyan);
}
.biografia{
    background: url(../img/fondo.jpg)fixed 0%;
    background-repeat: no-repeat;
    background-size: cover;
}
.divBiografia{
    background-color: var(--second-alpha-color);
    min-height: 100vh;
    position: relative;
}
.inicioFutbolistico{
    border-left: 4px solid blue; 
}
/* section galeria */
.section-img{
    position: relative;
}
.bg-galeria{
    background-color: var(--bgr-navBar);
    padding-top: 60px;
    height: 100%;
}
.box-img{
    overflow: hidden;
    position: relative;
}
.capa{
    position: absolute;
    height: 85%;
    width: 85%;
    background: rgb(0, 0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: .3s ease;
}
.capa-cambio{
    position: absolute;
    height: 65%;
    width: 90%;
    background: rgb(0, 0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: .3s ease;
}
.box-img:hover .capa-cambio{
    transform: scale(1);
}
.box-img:hover .capa{
    transform: scale(1);
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}
.box-grid:hover{
    position: relative;
    box-sizing: content-box;
}
.img-1{
    width: 250px;
    height: 255px;
    box-sizing: border-box;
}
.img-11,.img-8,.img-9,.img-10,.img-14,.img-15{
    height: 270px;
    width: 250px;
}
.img-6,.img-3,.img-13{
    width: 270px;
    height: 200px;
}
.text-grid{
    position:absolute;
    background-color: var(--second-alpha-color);
    color: #fff;
}
/* fin galeria de imagenes */
/* section-3- record-goles */
.goles{
    background: url(../img/fondo2.jpg) 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.goles-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 10px;
}
.box{
    background-color: var(--second-alpha-color);
    width: 250px;
    height: 200px;
    border: solid black 2px;
    border-radius: 5px;
    color: #fff;
    border-bottom: solid 4px blue;
}
.img-gol{
    background-color: var(--bg-alpha-color);
    padding: 2px;
    color: #dc3545;
}
.num, .span{
    font-size: 1.3rem;
    font-weight: 600;
}
.total{
    grid-column: 2;
}
/* section-4 */
.bg-pink{
    background-color: var(--pink);
    height: 110vh;
}
/* footer */
footer{
    background-color: var(--bgr-navBar);
}
#footer{
    position: relative;
}
.li-footer{
    list-style: none;
    background-color: var(--white);
    border-radius: 50%;
}
@media (max-width:1400px){
    .bg-galeria{
        background-color: var(--bgr-navBar);
        padding-top: 60px;
        height: 100%;
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 250px);
        row-gap: 40px;
    }
    .bg-pink{
        height: 120vh;
    }
}
@media (max-width:1200px){
    .biografia{
        background: url(../img/fondo.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 20px;
    }
    .goles{
        background: url(../img/fondo2.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}
@media (max-width:992px){
    .ul{
        display: flex;
        flex-direction: column;
    }
    .biografia{
        background: url(../img/fondo.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1,1fr);
        row-gap: 20px;
    }
    .bg-galeria{
        background-color: var(--bgr-navBar);
        padding-top: 60px;
        height: 100%;
    }
    .goles-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        row-gap: 40px;
    }
    .goles{
        background: url(../img/fondo2.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}
@media (max-width:768px){
    .ul{
        display: flex;
        flex-direction: column;
    }
    .biografia{
        background: url(../img/fondo.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-biografia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .inicioFutbolistico{
        border-left: none;
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .bg-galeria{
        background-color: var(--bgr-navBar);
        padding-top: 60px;
        height: 100%;
    }
    .goles-content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .goles{
        background: url(../img/fondo2.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .ulFooter{
        display: flex;
        flex-direction: column;
    }
    .div-footer{
        display: flex;
        flex-direction: column;
    }
    .titulos{
        height: 140vh;
    }
    .bg-pink{
        height: 140vh;
    }
}
@media (max-width:576px){
    .ul{
        display: flex;
        flex-direction: column;
    }
    .biografia{
        background: url(../img/fondo.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-biografia{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .inicioFutbolistico{
        border-left: none;
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .bg-galeria{
        background-color: var(--bgr-navBar);
        padding-top: 60px;
        height: 100%;
    }
    .goles-content{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .goles{
        background: url(../img/fondo2.jpg)center 0%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .titulos{
        height: 180vh;
    }
}




























